# Урок 3 Списки и множества

## **Списки**

### **Список** - упорядоченный набор элементов произвольной длины и элементов произвольного типа

### **Создание списков**

In [ ]:
student1 = 'Anatoly'
student2 ='Ivan'
student3 = 'Fedor'

student4 = 'Beslan'
student5 = 'Ivan'
student6 = 'Oksana'

In [ ]:
python_students = [student1, student2, student3]

In [ ]:
sql_students = [student4, student5, student6]

In [ ]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [ ]:
sql_students

['Beslan', 'Ivan', 'Oksana']

In [ ]:
my_list = [1, 2, 3,
           "hi", True]

In [ ]:
# my_list

### **Индексация списков**

In [ ]:
python_students[1]

'Ivan'

In [ ]:
python_students[0:2]

['Anatoly', 'Ivan']

In [ ]:
# [0, 2)]

In [ ]:
python_students[0:2]

['Anatoly', 'Ivan']

In [ ]:
python_students[0:10]

['Anatoly', 'Ivan', 'Fedor']

In [ ]:
# my_index = 1
# python _students[my_index]

In [ ]:
# start_i == start_index
# start_i = 0
# end_i = 2
# python_students[start_i:end_i]

In [ ]:
python_students[-2]

'Ivan'

In [ ]:
# my_list1 = list(range(5))
my_list1 = list(range(50, 150))

In [ ]:
#my_list1[10:20]
# my_list1[:20] по 19
my_list1
print (my_list1[0:10:2]) # [start, end, 2 - шаг]
my_list1[8]

[50, 52, 54, 56, 58]

58

In [ ]:
my_list1[0:10:1]

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [ ]:
my_list1[0:10:1]

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [ ]:
my_list1[10:0:-1] # 0 не включен

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51]

In [ ]:
my_list1[::-1] # позволяет по сути нам развернуть список

[149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50]

**Методы списков**

**.append and .extend**

In [ ]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [ ]:
python_students.append('Masha') # добавляем элемент

In [ ]:
python_students

['Anatoly', 'Ivan', 'Fedor', 'Masha', 'Masha', 'Masha', 'Masha']

In [ ]:
python_students.extend(['Igor', 'Daniil']) # добавляем список, а не элемент

In [ ]:
python_students

['Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Masha',
 'Masha',
 'Masha',
 'Igor',
 'Daniil']

In [ ]:
python_students.extend(sql_students)

In [ ]:
python_students

['Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Masha',
 'Masha',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

**.insert**

In [ ]:
python_students.insert(0,'Vera') # куда добавить, что добавить
print(python_students)

['Vera', 'Anatoly', 'Ivan', 'Fedor', 'Masha', 'Masha', 'Masha', 'Masha', 'Igor', 'Daniil', 'Beslan', 'Ivan', 'Oksana']

In [ ]:
python_students.insert(0, ['Vera','Fedor'])# куда добавить, что добавить

In [ ]:
python_students

['Anatoly', 'Ivan', 'Fedor']

**.pop and .remove**

In [ ]:
python_students.pop(0)# удаляет элемент и выводит его на печать

'Vera'

In [ ]:
python_students.remove('Ivan')# удаляет элемент по названию, только первый какой найдет, остальные остануться

In [ ]:
python_students

['Anatoly',
 'Fedor',
 'Masha',
 'Masha',
 'Masha',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Oksana']

In [ ]:
fruits = ['apple', 'banana', 'orange']
removed_fruit = fruits.pop()  # удалит 'orange' из списка и вернет его
print(fruits)  # ['apple', 'banana']
print(removed_fruit)  # 'orange'

['apple', 'banana']
orange

In [ ]:
fruits = ['apple', 'banana', 'orange']
removed_fruit = fruits.pop(1)  # удалит 'banana' из списка и вернет его
print(fruits)  # ['apple', 'orange']
print(removed_fruit)  # 'banana'

['apple', 'orange']
banana

In [ ]:
fruits = ['apple', 'banana', 'orange']
fruits.remove('banana')  # удалит 'banana' из списка
print(fruits)  # ['apple', 'orange']

['apple', 'orange']

In [ ]:
# Метод remove(), с другой стороны, удаляет первый найденный элемент с
#указанным значением в списке.

## **Множества**

In [ ]:
my_set = {1, 1, 2, 3}

In [ ]:
students_set = set(python_students)

In [ ]:
print(my_set) # set это такая коробка в питоне, где хранятся уникальные элементы
# не могут элементы повторяться

{1, 2, 3}

In [ ]:
print(students_set)

{'Anatoly', 'Igor', 'Beslan', 'Daniil', 'Oksana', 'Masha', 'Fedor'}

In [ ]:
sql_students_set = set(sql_students)

Для множества  не применимы индексы.

In [ ]:
students_set.difference(sql_students_set) # есть в 1м , но нет во 2м

{'Anatoly', 'Daniil', 'Fedor', 'Igor', 'Masha'}

In [ ]:
students_set.intersection(sql_students_set) # нашли элементы, которые есть в обоих множествах

{'Beslan', 'Oksana'}

## **Методы списков ++**

In [ ]:
# append() — добавляет новый элемент в список.
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# clear() — удаляет все элементы списка:
my_list = [1, 2, 3]
my_list.clear()
print(my_list) # []

In [ ]:
# copy() — возвращает копию списка:
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list) # [1, 2, 3]

In [ ]:
# count(item)  — возвращает количество элементов item в списке:
my_list = [1, 2, 2, 3, 2]
count = my_list.count(2)
print(count) # 3

In [ ]:
# extend(iterable) — добавляет элементы из другого списка в конец списка:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list) # [1, 2, 3, 4, 5]

In [ ]:
# index(item, start, end)  — возвращает индекс первого элемента, равного item, в диапазоне от start до end:
my_list = [1, 2, 2, 3, 2]
index = my_list.index(2, 2, 5)
print(index) # 2

2

In [ ]:
# insert(index, item)  — добавляет элемент item на позицию index в списке:
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list) # [1, 4, 2, 3]

In [ ]:
# pop(index) — удаляет и возвращает элемент на позиции index в списке:
my_list = [1, 2, 3]
removed_item = my_list.pop(1)
print(my_list) # [1, 3]
print(removed_item) # 2

In [ ]:
# remove(item) — удаляет первый элемент, равный item, из списка:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list) # [1, 3, 2]

In [ ]:
# reverse()  — переворачивает порядок следования элементов в списке:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list) # [3, 2, 1]

In [ ]:
# sort(key, reverse) — сортирует элементы в списке:
my_list = [3, 1, 2]
my_list.sort()
print(my_list) # [1, 2, 3]
my_list.sort(reverse=True)
print(my_list) # [3, 2, 1]

[1, 2, 3]
[3, 2, 1]

## **Методы множеств**

In [ ]:
# add(element) — добавляет элемент в множество.
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # выведет {'banana', 'cherry', 'orange', 'apple'}

In [ ]:
# union() — объединяет два множества
a = {1, 2, 3}
b = {3, 4, 5}

c = a.union(b)
print(c)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# clear() — удаляет все элементы из множества.
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)  # выведет set()

In [ ]:
# copy() — создает копию множества.
fruits = {"apple", "banana", "cherry"}
new_fruits = fruits.copy()
print(new_fruits)  # выведет {'banana', 'cherry', 'apple'}

In [ ]:
# difference() — возвращает разность между двумя множествами.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff_set1_set2 = set1.difference(set2)
print(diff_set1_set2)  # выведет {1, 2, 3}

In [ ]:
# discard(element) — удаляет элемент из множества, если он присутствует. Если элемент отсутствует, то никаких ошибок не возникает. Просто ничего не происходит.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)  # выведет {'cherry', 'apple'}

fruits = {"apple", "banana", "cherry"}
fruits.discard("aaaaaaaa")
print(fruits)  # выведет {'cherry', 'banana', 'apple'}

{'apple', 'cherry'}
{'apple', 'banana', 'cherry'}

In [ ]:
# remove(element) - Этот метод удаляет элемент из множества, если он
# присутствует. Если элемент отсутствует, то вызывается ошибка KeyError.
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}
my_set.remove(5)  # Вызовет ошибку KeyError, так как элемент 5 отсутствует

In [ ]:
# intersection() — возвращает пересечение двух множеств.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)  # выведет {4, 5}

In [ ]:
# isdisjoint() — возвращает True, если два множества не имеют общих элементов.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
disjoint_sets = set1.isdisjoint(set2)
print(disjoint_sets)  # выведет True

True

In [ ]:
# issubset() — возвращает True, если одно множество является подмножеством друг
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

result = set2.issubset(set1)
print(result) # выведет True

True

# Полезные функции

**len** - функция, которая возвращает количество элементов в последовательности:

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list)) # выведет 5
my_set = {1, 2, 3, 4, 5}
print(len(my_set)) # выведет 5

5
5

**max** - функция, которая возвращает максимальное значение из последовательности. Например:

In [ ]:
my_list = [5, 2, 8, 1, 9]
print(max(my_list)) # выведет 9
my_set = [5, 2, 8, 1, 9]
print(max(my_set)) # выведет 9

9
9

**min** - функция, которая возвращает минимальное значение из последовательности. Например:

In [ ]:
my_list = [5, 2, 8, 1, 9]
print(min(my_list)) # выведет 1
my_set = [5, 2, 8, 1, 9]
print(min(my_set)) # выведет 1

1
1

**sorted** — функция, которая сортирует последовательность. Она может принимать
параметр **reverse=True**, чтобы отсортировать последовательность в обратном порядке (по убыванию). Например:

In [ ]:

my_list = [5, 2, 8, 1, 9]
sorted_list = sorted(my_list)
print(sorted_list)  # выведет [1, 2, 5, 8, 9]
sorted_list_descending = sorted(my_list, reverse=True)
print(sorted_list_descending)  # выведет [9, 8, 5, 2, 1]

# А вот если отсортировать множество, то получится список!

my_set = {1, 1, 2, 2}
print(sorted(my_set)) # выведет [1, 2]

[1, 2, 5, 8, 9]
[9, 8, 5, 2, 1]
[1, 2]

In [ ]:
# my_list[0] - первый элемент списка
# my_list[-1] - последний элемент списка

Так же мы можем сделать **срезы**:

In [ ]:
# my_list[START:STOP:STEP] - срез от START до STOP с шагом STEP

## Task_1:

В **my_list** сохранен список как минимум с двумя элементами.

В переменную **first_item** сохраните первый элемент списка.

В переменную **last_item** сохраните последний элемент списка.

В переменную **reversed_list** сохраните все элементы списка **my_list** в обратном порядке.

В переменную **even_items** сохраните все элементы **my_list** с четными индексами.

In [ ]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]
first_item = my_list[0]
last_item = my_list[-1]
reversed_list = my_list[::-1]
even_items = my_list[::2]
print(first_item)
print(last_item)
print(reversed_list)
print(even_items)

Anatoly
3
[3, 2, 1, 'Fedor', 'Anatoly']
['Anatoly', 1, 3]

Давайте подробнее остановимся на функции **range()**.

In [ ]:
# range(start, stop, step)
# start - с этого числа начнем, по умолчанию 0.
# stop - конец последовательности, но само число stop не включено в результат.
# step - шаг перехода между числами, по умолчанию 1.

После выполнения функция возвращает специальный тип данных - range. Для более удобной работы с последовательностью можно перевести range в список.

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [ ]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

## Task_2

В переменную **var_1** сохраните список с числами от -100 до 100 включительно с шагом в 1.

В переменную **var_2** сохраните список с числами от 250 до 0 включительно с шагом в 2.

В переменную **var_3** сохраните список со всеми нечетными числами от 100 до 200.

In [ ]:
var_1 = list(range(-100, 101, 1)) # от -100 до 100 с шагом 1
var_2 = list(range(250, -1, -2))
var_3 = list(range(101, 200, 2))
print(var_1)
print (var_2)
print(var_3)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[250, 248, 246, 244, 242, 240, 238, 236, 234, 232, 230, 228, 226, 224, 222, 220, 218, 216, 214, 212, 210, 208, 206, 204, 202, 200, 198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

## Task_3

В переменных  **a** и **b** хранятся числа — начало и конец диапазона. Напишите программу, которая вернет сумму всех чисел из этого диапазона. Сохраните значение в переменную result.

In [ ]:
a = int(input())
b = int(input())
result = 0
for num in range(a, b+1):
    result += num
print(result)
# 1
# 3

1
3
6

In [ ]:
result = sum(range(a, b + 1))
print(result)

6

## Task_4

Давайте потренируемся использовать различные **методы** списков. В переменной **my_list** сохранен не пустой список, в котором есть число 11.

Найдите первый индекс числа 11 в **my_list**, сохраните индекс в переменную **eleven_index**.  

В переменную **ten_count** сохраните, сколько раз в списке **my_list** встречается число 10.

In [ ]:
my_list = [1, 10, 0, 10, 11]
eleven_index = my_list.index(11)
ten_count = my_list.count(10)
print(eleven_index)
print(ten_count)

4
2

## Task_5

В **student_names** сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.

В **scores** сохранен список из десяти целых чисел, удалите из него второй, пятый и последний элемент.

В **lessons** сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту.

In [ ]:
student_names = ['Ivan', 'Ivan']
scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lessons = ['Python', 'Analytics']
student_names.append("Anatoly")
student_names.append("Oksana")
print(scores.pop(1))
print(scores.pop(3)) # 5й элемнент стал 4м, после удаления 2ого
print(scores.pop()) # pop без параметра равен индексу последнего элемента == -1
lessons.sort()
print(student_names)
print(scores)
print(lessons)

1
4
10
['Ivan', 'Ivan', 'Anatoly', 'Oksana']
[0, 2, 3, 5, 6, 7, 8, 9]
['Analytics', 'Python']

# Изменяемые и неизменяемые объекты

In [ ]:
# сохраним список в переменную my_list_1
my_list_1 = [3, 1, 2]

# в переменную my_list_2 сохраним список my_list_1
my_list_2 = my_list_1

In [ ]:
# изменим список my_list_1
my_list_1.append(4)
my_list_1.sort()
my_list_1[0] = 100

# посмотрим на оба списка
print(my_list_1) # => [100, 2, 3, 4]
print(my_list_2) # => [100, 2, 3, 4]

[100, 2, 3, 4]
[100, 2, 3, 4]

Cписки, массивы и словари — это изменяемые объекты.

Теперь на коробочку памяти ссылаются две переменные: my_list_1 и my_list_2. И наоборот при изменении my_list_2, изменится и my_list_1.

Именно поэтому у списка есть метод **copy()**. Он позволяет создать копию первого списка в новой переменной. В таком случае изменения первого списка уже никак не повлияют на копию этого списка.

In [ ]:
# сохраним список в переменную my_list_1
my_list_1 = [3, 1, 2]

# в переменную my_list_2 сохраним список my_list_1 с методом copy()
my_list_2 = my_list_1.copy()

# изменим список my_list_1
my_list_1.append(4)
my_list_1.sort()
my_list_1[0] = 100

# посмотрим на оба списка
print(my_list_1) # => [100, 2, 3, 4]
print(my_list_2) # => [3, 2, 1]

[100, 2, 3, 4]
[3, 1, 2]

Поэтому при работу с объектами в питоне важно понимать, изменяем мы исходный объект или создаем новый. Внимательно читайте документацию функций и методов. Предположим, у нас есть список my_list, мы хотим завести новый список my_list_ordered с отсортированными элементами из списка my_list.

In [ ]:
my_list = [1, 2, 3, -2]

# так правильно
my_list_ordered = sorted(my_list) # функция sorted возвращает новый список, не изменяет список my_list
print(my_list_ordered) # получим [-2, 1, 2, 3]
print(my_list) # получим [1, 2, 3, -2]

# так неправильно
my_list_ordered = my_list.sort() # метод sort ничего не возвращает, а только изменяет список my_list
print(my_list_ordered) # получим None
print(my_list) # получим [-2, 1, 2, 3]

[-2, 1, 2, 3]
[1, 2, 3, -2]
None
[-2, 1, 2, 3]

А вот уже знакомые нам числа int и float, строки и логические значения — это неизменяемые объекты. То есть после создания объекта нельзя изменить его значение, только создать новый объект с измененным значением.

## **Кортеж**

Иногда могут возникнуть ситуации, когда мы хотим хранить набор элементов без возможности изменять его. Поэтому у списков существует их неизменяемый аналог — кортежи (tuple). Кортежи создаются с помощью круглых скобок (), а элементы разделены запятыми. Кортежи нельзя изменять после их создания, т.е. нельзя добавлять, удалять или изменять элементы в кортеже. Поэтому кортежи лучше использовать, когда надо хранить значения, которые не будут меняться. Например, названия месяцев:

In [ ]:
# создадим кортеж
months = ('January', 'February', 'March', 'April', 'May',
          'June', 'July', 'August', 'September', 'October', 'November', 'December')

# попытаемся добавить тринадцатый месяц
# months[12] = 'Undecimber'

# или изменить второй месяц
# months[1] = 'Февраль'
# Ошибка говорит о том, что кортеж не поддерживает изменение или добавление
# элементов, поэтому попытка присваивания нового значения элементу вызывает
# ошибку TypeError.

Кортежи в основном используются в тех местах, где нужна эффективность и производительность. Кортежи занимают меньше места, чем списки, и обрабатываются быстрее. При этом кортежи, так же как и списки, поддерживают индексацию. Например, если мы хотим получить название первого месяца, можем использовать уже привычную запись:

In [ ]:
month_index = 0
month_name = months[month_index]
print(month_name) # => 'January'

January

## Task_6

Создате кортеж с названиями дней недели и сохраните его в переменную **days_of_the_week**.

In [ ]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

### **frosenset**

У множества тоже есть неизменяемый аналог. **Frozenset** — это неизменяемый набор объектов, он имеет ту же функциональность, что и **set**, но его элементы не могут быть изменены после создания.

In [ ]:
my_frozenset = frozenset([1, 2, 3])
my_frozenset

frozenset({1, 2, 3})

На старте вы не так часто будете сталкиваться с **frozenset**, но чем глубже вы будете погружаться в разработку, тем выше вероятность, что вы встретитесь с **frozenset** при работе с множествами.

Сейчас нам просто полезно знать, что существует неизменяемый аналог множеств, в дальнейшем мы еще вернемся к **frozenset** и продемонстрируем несколько примеров его использования.

## Task_7

В переменной **numbers_list** сохранен список с целыми числами. В списке минимум два разных целых числа.

В переменную **numbers_list_ordered** сохраните все числа из списка **numbers_list**, отсортированные по убыванию. При этом сам список **numbers_list** не должен изменяться.

В переменную **numbers_set** сохраните множество из уникальных чисел из списка **numbers_list**. Дополните это множество следующим целым числом после максимального числа из **numbers_list**.

В переменную **numbers_frozenset** сохраните неизменяемое множество из всех уникальных чисел из списка **numbers_list**, кроме минимального числа.

In [ ]:
numbers_list = [1, 5, 3, 3, 5]
min_number = min(numbers_list)
print(min_number)
numbers_list_ordered = sorted(numbers_list, reverse = True)
print(numbers_list_ordered)
numbers_set = set(numbers_list)
print(numbers_set)
numbers_set.add(max(numbers_list) + 1)
print(numbers_set)
numbers_frozenset = frozenset([num for num in numbers_list if num != min_number])
print(numbers_frozenset)

1
[5, 5, 3, 3, 1]
{1, 3, 5}
{1, 3, 5, 6}
frozenset({3, 5})

In [ ]:
numbers_list = [1, 5, 3, 3, 5]

numbers_list_ordered = sorted(numbers_list, reverse=True)
numbers_set = set(numbers_list)
numbers_set.add(max(numbers_list) + 1)
numbers_frozenset = frozenset(sorted(set(numbers_list))[1:])
print(numbers_frozenset)

frozenset({3, 5})

## Task_8

Даны два списка **list_1** и **list_2**. Отсортируйте **list_1** по возрастанию, а **list_2** по убыванию.
Объедините **list_1** и **list_2** в один отсортированный по возрастанию список **list_3**.  
В переменную **list_3_len** сохраните длину **list_3**.

In [ ]:
list_1 = [1, 5, 3]
list_2 = [2, 8]
list_1.sort()
list_2.sort(reverse=True)
list_3 = list_1 + list_2
list_3_len = len(list_3)
list_3.sort()

print(list_3)
print(list_3_len)

[1, 2, 3, 5, 8]
5

In [ ]:
list_1 = [1, 5, 3]
list_2 = [2, 8]
list_1.sort()
list_2.sort(reverse=True)
list_3 = []
list_3.extend(list_1)
list_3.extend(list_2)
list_3.sort()
list_3_len = len(list_3)
print(list_3)
print(list_3_len)

[1, 2, 3, 5, 8]
5

## Task_9

В переменной **menu** хранится множество всех позиций меню кофейни, а в переменной **stop** — множество позиций меню кофейни, недоступных для заказа сегодня. Сохраните в переменную **menu_today** позиции меню, которые доступны для заказа сегодня.

In [ ]:
menu1 = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte',
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop1 = {'White Chocolate Mocha', 'Blueberry Muffin'}

menu_today1 = sorted(menu1 - stop1)
menu_today2 = menu1 - stop1
print(menu_today1)
print(menu_today2)

['Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte']
{'Latte', 'Chocolate Chip Cookie', 'Americano', 'Flat White'}

In [ ]:
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte',
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}
menu_today = menu.difference(stop)
menu_today

{'Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte'}

## Task_10

В переменной **my_set** множество (set) из чисел. В переменной **to_delete** число, которое нужно удалить из **my_set**, если оно там есть. Если такого числа нет в **my_set** ничего делать не надо.

In [ ]:
my_set = {0, 10, 100}
to_delete = 0
my_set.discard(to_delete)
print(my_set)# удалили 0

{10, 100}

In [ ]:
my_set = {0, 10, 100}
to_delete = -2
my_set.discard(to_delete)
my_set # ничего не сделали

{0, 10, 100}

## Task_11

В **students** хранится множество студентов it-центра МАИ. Студент, имя которого записано в **new_student**, перевелся в МАИ из другого института, его имя нужно добавить в **students**. В переменной **churn_student** — студент, который хочет перевестись из МАИ в другой институт, его имя нужно убрать из **students**.

In [ ]:
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'
# ->
students.add(new_student)
students.remove(churn_student)
students

{'Василенко Анна',
 'Дудочкин Илья',
 'Захарова Мария',
 'Кравченко Виталий',
 'Некрасов Игорь'}

## Task_12

В переменной **da_students** хранятся имена студентов курса "Аналитик данных", а в переменной **dv_students** — имена студентов курса "Визуализация данных". Сохраните в переменную **students** студентов, которые обучаются на обоих курсах.

Порядок элементов в **students** не имеет значения.

In [ ]:
# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}
# более короткая запись метода intersection
students = da_students & dv_students
students

{'Ershova Anna', 'Loginov Vladislav'}

In [ ]:
# Вариант верного решения

students = da_students.intersection(dv_students)
print(students)
# более короткая запись метода intersection
#students = da_students & dv_students

# а метод difference можно заменить на знак '-'
da_students - dv_students

{'Loginov Vladislav', 'Ershova Anna'}

{'Ivanov Alexander', 'Korneva Daria'}

## Task_13

В переменной **a** хранится список целых неотрицательных чисел. Количество чисел четное.
Напишите программу, которая будет делить этот список пополам, определять суммы чисел в половинах списка (**sum_left** и **sum_right**). Если **sum_left** равно **sum_right**, то сохраните в переменную **result** значение **True**,  в противном случае — **False**.

In [ ]:
a = [1, 2, 4, 3]
half = len(a) // 2
left_half = a[:half]
right_half = a[half:]

sum_left = sum(left_half)
sum_right = sum(right_half)

result = sum_left == sum_right

print(result)

False

In [ ]:
sum_left = sum(a[:(len(a) // 2)])
sum_right = sum(a[(len(a) // 2) : ])
result = sum_left == sum_right
result

False

## Task_14

Даны список целых чисел **a** и число **b**. Удалите из **a** первое и последнее вхождение числа **b**.

In [1]:
a = [1, 2, 2, 1, 3, 2, 3]
b = 1
a.remove(b)  # Удаляем первое вхождение числа b
print(a)
a.reverse()  # Разворачиваем список
print(a)
a.remove(b)  # Удаляем первое вхождение числа b (теперь это будет последнее вхождение)
print(a)
a.reverse()
a

[2, 2, 1, 3, 2, 3]
[3, 2, 3, 1, 2, 2]
[3, 2, 3, 2, 2]

[2, 2, 3, 2, 3]

In [ ]:
#a = [1, 2, 2, 1, 3, 2, 3]
#b = 2