# Урок_2. Переменные и основные  типы данных (практика)

In [ ]:
# Task_1
cat_name = "Vasya"
cat_age = 5
is_fluffy = False

In [ ]:
# Task_3
# посчитать через сколько лет отец будет вдвое старше сына
# father_age = 20
# son_age = 3
# result = 14
father_age = 20
son_age = 3
result = abs((son_age * 2) - father_age)
print(result)

14

In [ ]:
# Task_З_1 Давайте напишем программу для поиска длины гипотенузы.
import math

a = 4
b = 5
c = math.sqrt(a**2 + b**2)
print(c)

6.4031242374328485

## Task_4

Заданы вещественные числа a, b и с – стороны треугольника. Вычислите периметр и площадь треугольника. Результат сохраните в переменные **perimeter** и **area** соответственно.

In [ ]:
a = 3
b = 4
c = 5
perimeter = a + b + c
p = perimeter / 2  # или *0.5
area = (p * (p - a) * (p - b) * (p - c)) ** 0.5
print(area)

6.0

## Task_5

 В переменную **n** сохранено целое число — количество секунд. Напишите программу, которая конвертирует заданное количество секунд **n** в часы, минуты и секунды. Результат сохраните в переменные hours, minutes, seconds.

То есть сначала нужно посчитать, сколько в число **n** поместилось целых часов, целых минут и сколько после этого осталось секунд.

In [ ]:
n = 125
hours = n // 3600
minutes = (n - hours * 3600) // 60
seconds = (n - hours * 3600 - minutes * 60) % 60
print(hours)
print(minutes)
print(seconds)

0
2
5

In [ ]:
# round() — функция округления числа до указанного количества знаков после запятой.
number = 3.14159
result = round(number, 2)
print(result)  # Вывод: 3.14

3.14

In [ ]:
# abs() — функция, которая возвращает абсолютное значение числа.
number = -10
result = abs(number)
print(result)  # Вывод: 10

## Task_6

В переменной **price_new** хранится цена килограмма бананов в числовом формате, а в переменной **price_old** — цена килограмма бананов год назад. Вычислите, на сколько процентов по модулю изменилась цена за год. Результат сохраните в переменную **result**. Результат округлите до двух знаков после запятой.

In [ ]:
price_new = 89.99
price_old = 75.50
p_n = float(price_new)
p_o = float(price_old)
result = abs(((p_n / p_o) - 1) * 100)
result = round(result, 2)
print(result)

19.19

In [ ]:
result = abs(round(100 * (price_new - price_old) / price_old, 2))
print(result)

19.19

In [ ]:
# Task_7
a = 5
b = str("10")  # b = '10'
c = True
my_sum = a + int(b) + int(c)  # сумма созданных переменных, где  b и с
# преобразовано в int.
print(my_sum)

16

## Task_8

В переменной **a** сохранено число с десятичной частью но в формате строки, например '3.14'. В переменную **с** сохраните целую часть из числа в переменной **a**.

In [ ]:
a = "3.14"
c = float(a)
c = round(c, 0)
c

3.0

In [ ]:
c = int(float(a))
c

5

## Task_9

В переменной **х** уже сохранено целое положительное число. Вычислите **x + x0x0x**. Результат сохраните в переменную **result**.

То есть, если **x = 2**, то нужно вычислить **2 + 20202**.

In [ ]:
x = int(input())
result = x + int(str(x) + "0" + str(x) + "0" + str(x))
result

2

20204

In [ ]:
x = int(input())
result = x + int(str(x) + str(0) + str(x) + str(0) + str(x))
result

5

50510

In [ ]:
# более элегантное решение
result = x + int(f"{x}0{x}0{x}")
result

50510

## Task_12

В переменной **x** хранится целое число. Проверьте, делится ли это число без остатка на **3** и на **7**. Результат сохраните в переменную **result**. Переменная **result** должна иметь логический тип данных.

Если **x = 7**, то **result = False**. Если **x = 21**, то **result = True**.

In [ ]:
x = int(input())
if x % 3 == 0 and x % 7 == 0:
    result = True
else:
    result = False
result

7

False

In [ ]:
result = x % 7 == 0 and x % 3 == 0
result

False

# Экранированные (служебные символы) в Python

In [ ]:
string1 = "'Манчестер Юнайтед' - чемпион Англии!\n2013"
print(string1)

'Манчестер Юнайтед' - чемпион Англии!
2013

In [ ]:
print("Hello\nworld!")
print("C:\\Users\\user\\Desktop\\file.txt")
print("Name:\tJohn")
print("It's a beautiful day!")
print("It's a beautiful day!")  # так тоже можно

Hello
world!
C:\Users\user\Desktop\file.txt
Name:	John
It's a beautiful day!
It's a beautiful day!

## Task_14

Сохраните в переменную **square** строку, которая выводит на экран прямоугольник 4 x 4, сформированный из звездочек, разделенных пробелом.

In [ ]:
square = "* * * *\n" + "* * * *\n" + "* * * *\n" + "* * * *\n"
print(square)

* * * *
* * * *
* * * *
* * * *

In [ ]:
square = "* * * *\n* * * *\n* * * *\n* * * *"
print(square)

* * * *
* * * *
* * * *
* * * *